.App {
  text-align: center;
}

:root {
  --char-w: 1ch;
  --gap: .5*var(--char-w);
  --n-char: 7;
  --in-w: var(--n-char)*(var(--char-w) + var(--gap));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  text-align: center;
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: var(--in-w);
  background: repeating-linear-gradient(90deg,
  #d9cece 0, #d9cece var(--char-w),
  transparent 0, transparent var(--char-w) + var(--gap));
  /*0 100%/ #{var(--in-w) - var(--gap)} 2px no-repeat;*/
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: var(--gap);
  color: white;
}

input:focus {
   outline: none;
   color: dodgerblue;
}

